<% include ../partials/header%>
<div class="ui main text container segment">
  <div class="ui huge header"><%=blog.title%></div>
  <div class="ui top attached ">
    <div class="item">
      <img class="ui centered rounded image"src="<%= blog.image %>" >
      <div class="content">
        <span><%= blog.created.toDateString() %></span>
      </div>
      <div class=" ui description segment">
        <p>Created By : <%=blog.author.username %></p>
        <p class="ui segment"><%- blog.body %></p>
      </div>
    <%  if (currentUser&&blog.author.id.equals(currentUser._id)) { %>
        <a class="ui button blue basic small" href="/blogs/<%= blog._id %>/edit">Edit</a>
        <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="post">
          <button class="button ui red basic small">Delete</button>
      </form>
      <% } %>
      <div class="ui main container">
        <a  href="/blogs/<%= blog._id %>/comments/new"class="button ui bottom   green basic mini ">add comment</a>
      </div>
    </div>
  </div>
  <% blog.comments.forEach(function (comment) { %>
      <div class="ui container segment">
        <p><strong><%= comment.author.username %></strong> - <em><%= comment.text%></em> </p>

  </div>
  <% }) %>

</div>
<% include ../partials/footer%>
